<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nirvana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/niri"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Payments.PaymentFailureActivity"></activity>
        <activity android:name=".Payments.PaymentSuccessActivity" />
        <activity android:name=".LoginByPasswordActivity" />
        <activity android:name=".Payments.MainPaymentActivity" />
        <activity android:name=".Blogs.Blog_Detail_Activity" />
        <activity android:name=".GoalPlanning.StressTestReport" />
        <activity android:name=".GoalPlanning.StressTest" />
        <activity android:name=".GoalPlanning.SessionWithStudent" />
        <activity android:name=".GoalPlanning.SessionWithFaculty" />
        <activity android:name=".GoalPlanning.ManagerialReport" />
        <activity android:name=".GoalPlanning.EmployerReport" />
        <activity android:name=".GoalPlanning.BookSession" />
        <activity android:name=".GoalPlanning.GoalPlanning" />

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Call.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Call.SinchService" />
        <service
            android:name=".Service.Background"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".Call.FcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Call.VoiceCallScreenActivity" />
        <activity android:name=".Call.IncominCallScreenActivity" />
        <activity android:name=".Call.IncomingVideoCallActivity" />
        <activity android:name=".Call.VideoCallScreenActivity" />
        <activity
            android:name=".Schools.MyDoctorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Offices.OfficeWelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Clinics.ClinicWelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hospitals.HospitalWelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Schools.SchoolWelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Organisations.rganisationLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Blogs.BlogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Offices.OfficeLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Schools.SchoolLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Clinics.ClinicLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hospitals.HospitalLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Offices.OfficePhoneVerification" />
        <activity android:name=".Schools.SchoolPhoneVerification" />
        <activity android:name=".Clinics.ClinicPhoneVerification" />
        <activity android:name=".Hospitals.HospitalPhoneVerification" />
        <activity
            android:name=".Organisations.OrganisationActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.MainActivity" />
        </activity>
        <activity android:name=".Patients.Meeting_Alresdy_fixed_step2" />
        <activity
            android:name=".Patients.Meeting_Already_Fixed_step1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Niri" />
        <activity
            android:name=".Doctors.PendingMeetingsStep2"
            android:parentActivityName=".Doctors.PendingMeetingsStep1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.Doctors.PendingMeetingsStep1" />
        </activity>
        <activity
            android:name=".Doctors.PendingMeetingsStep1"
            android:parentActivityName=".Doctors.Doctor_Welcome_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.Doctors.Doctor_Welcome_Activity" />
        </activity>
        <activity
            android:name=".Doctors.Not_Fixed_Meeting_step2"
            android:parentActivityName=".Doctors.Not_Fixed_Meetings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.Doctors.Not_Fixed_Meetings" />
        </activity>
        <activity
            android:name=".Doctors.Not_Fixed_Meetings"
            android:parentActivityName=".Doctors.Doctor_Welcome_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.Doctors.Doctor_Welcome_Activity" />
        </activity>
        <activity
            android:name=".Patients.PatientQueue"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Patients.Fix_Meeting_step3"
            android:parentActivityName=".Doctors.Doctors_GridView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.Doctors.Doctors_GridView" />
        </activity>
        <activity
            android:name=".Patients.Fix_Meeting_step2"
            android:parentActivityName=".Doctors.Doctors_GridView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.Doctors.Doctors_GridView" />
        </activity>
        <activity
            android:name=".Doctors.Doctors_GridView"
            android:parentActivityName=".Doctors.Doctor_Welcome_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.Doctors.Doctor_Welcome_Activity" />
        </activity>
        <activity
            android:name=".Patients.Patient_Welcome_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Doctors.Doctor_Welcome_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Patients.PatientPhoneVerification" />
        <activity
            android:name=".Doctors.DoctorPhoneVerification"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.MainActivity" />
        </activity>
        <activity
            android:name=".Patients.PatientLoginActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.MainActivity" />
        </activity>
        <activity
            android:name=".Doctors.DoctorLoginActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.MainActivity" />
        </activity>
        <activity
            android:name=".Patients.PatientSignupActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.MainActivity" />
        </activity>
        <activity
            android:name=".Doctors.DoctorSignupActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.MainActivity" />
        </activity>

        <service android:name=".MusicPlayer.MediaPLayerService" />

        <activity
            android:name=".MusicPlayer.NirvanaAudioPlayer"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nirvana.Doctors.Doctor_Welcome_Activity" />
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_L3XPW2PWIoKazI" />
    </application>

</manifest>